.container {
	overflow:auto; /* This prevents the child from adding margins to the parent */
	height: 100vh;
	padding-bottom: 50vh;
}

.container > .heading-container {
	max-width: 40vw;
	margin: 100px auto 100px 100px;
}

.container > *:not(hr) {
	margin: 0 auto 20px 100px; /* This is to allow us to add elements without margin in the container */
}