<div class="container">
	<div class="heading-container" style="margin-top: 30vh;">
		<h1 style="font-size: 50pt; line-height: 60pt;">Jediah Dizon</h1>
		<span style="font-size: 15pt; opacity: 0.5;">JediahJosuah@gmail.com</span>
		<p>Software Developer who mainly focus on Javascript front-end frameworks and libraries such as Angular & ReactJS whilst being capable at full-stack development.</p>
		<br />
		<div
			fxLayout
			fxLayout.xs="row"
			fxLayoutAlign="baseline"
		>
			<button class="btn btn-primary" (click)="openLink('https://github.com/JediahDizon', '_blank')">
				<clr-icon shape="pop-out"></clr-icon> GitHub
			</button>
			<button class="btn btn-primary" (click)="openLink('https://www.linkedin.com/in/jediahdizon/', '_blank')">
				<clr-icon shape="pop-out"></clr-icon> LinkedIn
			</button>
		</div>
	</div>

	<!-- --------------- -->
	<!-- WORK EXPERIENCE -->
	<!-- --------------- -->
	<hr />
	<div class="heading-container">
		<h1>Work Experience<small style="opacity: 0.5; margin-left: 20px;">2 Years</small></h1>
		<p>Primarily employed by Resource Energy Solutions for 2 years.</p>
	</div>

	<div
		*ngFor="let workExperience of workExperiences"
		fxLayout
		fxLayoutAlign="baseline"
	>
		<collapse imageUrl="{{ workExperience.imageUrl }}">
			<div content>
				<h3>{{ workExperience.title }}</h3><small>{{ workExperience.subtitle }}</small>
				<br /><br />
				<p style="white-space:pre-wrap;">{{ workExperience.content }}</p>
			</div>

			<div *ngIf="workExperience.externalLinks.length > 0" footer>
				<button *ngFor="let link of workExperience.externalLinks" class="btn btn-primary" (click)="openLink(link.url, '_blank')">{{ link.name }}</button>
			</div>
		</collapse>
	</div>

	<!-- -------------- -->
	<!-- CODE ADVENTURE -->
	<!-- -------------- -->

	<!-- The Code Projects are not on a loop because the way they are presented are unique from each other and cannot be generalized in a template -->
	<hr />
	<div class="heading-container">
		<h1>Code Adventure<small style="opacity: 0.5; margin-left: 20px;">Personal Projects</small></h1>
		<p>Applications I have worked on to expand my knowledge in software development.</p>
	</div>

	<div
		fxLayout="column"
		fxLayoutAlign="baseline"
	>
		<code-project height="350">
			<div project id="image-container">
				<div
					[style.background-image]="'url(./assets/jobz-screenshot.png)'"
					[style.background-size]="'cover'"
					[style.background-repeat]="'no-repeat'"
					[style.width]="'350px'"
					[style.height]="'350px'"
				></div>
			</div>

			<div content>
				<h3>Job Z</h3><small>The Next Generation of Job Hunting</small>
				<br /><br />
				<p style="white-space:pre-wrap;">Made a full-stack React Native and GraphQL resume-search platform released for Android and iOS store with a working web demo.{{ "\n\n" }}Reimagined how job opportunities are made by steeering away from word-document resumes, deprecating the 6-second-scan-rule. Fully Integrated with a messaging system and push notifications.{{ "\n\n" }}
					- Mobile app uses React Native with Apollo GraphQL{{ "\n" }}
					- User login thorugh OAuth JWT from Google and Apple{{ "\n" }}
					- Backend uses ExpressJS equipped with Apollo GraphQL Server for HTTPS and Socket support{{ "\n" }}
					- DB uses a No-SQL Firestore database by Google
				</p>
			</div>

			<div footer>
				<button
					*ngFor="let link of [
						{
							name: 'Web',
							url: 'https://jobzapp.ca'
						},
						{
							name: 'Google Play Store',
							url: 'https://play.google.com/store/apps/details?id=com.jobz.android'
						},
						{
							name: 'Apple App Store',
							url: 'https://apps.apple.com/us/app/job-z/id1568144463'
						}
					]"
					class="btn btn-primary"
					(click)="openLink(link.url, '_blank')">{{ link.name }}
				</button>
			</div>
		</code-project>
	</div>

	<div
		fxLayout="column"
		fxLayoutAlign="baseline"
	>
		<code-project>
			<iframe project frameborder="0" width="350" height="350" src="./assets/ray-casting/index.html"></iframe>

			<div content>
				<h3>Ray Casting</h3><small>Code Train</small>
				<br /><br />
				<p style="white-space:pre-wrap;">Implemented a "Ray Casting" particle with the help of Code Train's tutorial online. Majority of the code was implemented by me with the exception of 2 mathematical formulas which was copied from the tutorial:{{ "\n\n" }}- Formula to determine if 2 lines intersect{{ "\n" }}- Formula to determine if the casted ray has already intersected.</p>
			</div>

			<div footer>
				<button
					*ngFor="let link of [
						{
							name: 'Tutorial',
							url: 'https://www.youtube.com/watch?v=TOEi6T2mtHo'
						},
						{
							name: 'Code',
							url: 'https://github.com/JediahDizon/website/tree/master/src/assets/ray-casting'
						}
					]"
					class="btn btn-primary"
					(click)="openLink(link.url, '_blank')">{{ link.name }}
				</button>
			</div>
		</code-project>
	</div>

	<div
		fxLayout="column"
		fxLayoutAlign="baseline"
	>
		<code-project height="350">
			<div project id="image-container">
				<div
					[style.background-image]="'url(./assets/news-tasks.png)'"
					[style.background-size]="'cover'"
					[style.background-repeat]="'no-repeat'"
					[style.width]="'350px'"
					[style.height]="'350px'"
				></div>
			</div>

			<div content>
				<h3>News & Task List</h3><small>API Requests</small>
				<br /><br />
				<p style="white-space:pre-wrap;">Made a full stack application with React JS and Java Hibernate Framework that makes various HTTP request to multiple sources and presents the recieved data in a proper layout. Primarily made to showcase an MVC architecture.{{ "\n\n" }}- Frontend uses GraphQL{{ "\n" }}- Backend uses Java Hibernate framework{{ "\n" }}- DB is in Relational MySQL</p>
			</div>

			<div footer>
				<button
					*ngFor="let link of [
						{
							name: 'Front End Code',
							url: 'https://github.com/JediahDizon/ReactRedux.view'
						},
						{
							name: 'Back End Code',
							url: 'https://github.com/JediahDizon/ReactRedux.services'
						},
						{
							name: 'Database Code',
							url: 'https://github.com/JediahDizon/ReactRedux.database'
						}
					]"
					class="btn btn-primary"
					(click)="openLink(link.url, '_blank')">{{ link.name }}
				</button>
			</div>
		</code-project>
	</div>

	<!-- <div
		fxLayout="column"
		fxLayoutAlign="baseline"
	>
		<code-project height="350">
			<video project width="350" height="350" controls>
				<source src="./assets/project-naa/video.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>

			<div content>
				<h3>Youtube Voice Over</h3><small>Personal</small>
				<br /><br />
				<p style="white-space:pre-wrap;">Made a Tinder-style mobile app that allows the user to record voice-overs and play a video simultaneously. Meant primarily for voice actors practicing voice acting by recording voice-overs on random youtube videos.</p>
			</div>

			<div footer>
				<button
					*ngFor="let link of [
						{
							name: 'Code',
							url: 'https://github.com/JediahDizon/project-naa'
						}
					]"
					class="btn btn-primary"
					(click)="openLink(link.url, '_blank')">{{ link.name }}
				</button>
			</div>
		</code-project>
	</div> -->

	<!-- ---------------------- -->
	<!-- EDUCATIONAL EXPERIENCE -->
	<!-- ---------------------- -->
	<hr />
	<div class="heading-container">
		<h1>Educational Experience</h1>
		<p>Programs that bootstraps my career as a software developer.</p>
	</div>

	<div
		*ngFor="let educationalExperience of educationalExperiences"
		fxLayout
		fxLayoutAlign="baseline"
	>
		<collapse imageUrl="{{ educationalExperience.imageUrl }}">
			<div content>
				<h3>{{ educationalExperience.title }}</h3><small>{{ educationalExperience.subtitle }}</small>
				<br /><br />
				<p style="white-space:pre-wrap;">{{ educationalExperience.content }}</p>
			</div>

			<div *ngIf="educationalExperience.externalLinks.length > 0" footer>
				<button *ngFor="let link of educationalExperience.externalLinks" class="btn btn-primary" (click)="openLink(link.url, '_blank')">{{ link.name }}</button>
			</div>
		</collapse>
	</div>


	<!-- -------- -->
	<!-- ABOUT ME -->
	<!-- -------- -->
	<hr />
	<div class="heading-container">
		<h1>About Me</h1>
		<span style="font-size: 15pt; opacity: 0.5;">JediahJosuah@gmail.com</span>
		<p>Want to know more about me? Email me for an interview! I would love to talk about how I can add value to your company.</p>
		<br />
		<div
			fxLayout
			fxLayout.xs="row"
			fxLayoutAlign="baseline"
		>
			<button class="btn btn-primary" (click)="openLink('https://github.com/JediahDizon', '_blank')">
				<clr-icon shape="pop-out"></clr-icon> GitHub
			</button>
			<button class="btn btn-primary" (click)="openLink('https://www.linkedin.com/in/jediahdizon/', '_blank')">
				<clr-icon shape="pop-out"></clr-icon> LinkedIn
			</button>
		</div>
	</div>

</div>